/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Sans', sans-serif;
  color: #4a4a4a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
  color: #4a4a4a;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
/* @phone: (max-width: 500px); */
/* @nav-bg: @wild-sand;
@nav-font: @river-bend;
@nav-border: @sea-shell;

@main-border-color: @border-real;

@btn-font-color: @sea-shell;
@btn-bg-color: @some-black;

@footer-background: @wild-sand;
@footer-font-color: @waterloo; */
/* @wild-sand: #F6F6F6;
@river-bend: #454A59;
@sea-shell: #F1F1F1;
@ebony-clay: #23293B;
@porcelain: #F6F7F8;
@waterloo: #81848E;
@border-real: #dee2e6;
@some-black: #22283A; */
.hero-nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/devices.jpg);
  background-size: cover;
}
.hero-nav .container {
  height: 60vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-nav img {
  width: 4vw;
}
.header-nav ul {
  display: flex;
}
.hero-nav .search-form {
  width: 60%;
  display: flex;
  margin: 0 auto;
}
.hero-nav .search-form #sf-what,
.hero-nav .search-form #sf-location {
  flex-grow: 2;
}
