// Override default nav style

.about-header {
    background-color:@blue7;

    #registration-link {
        border: 0.2rem solid transparent;
        background-color: @light-secondary;

        &:hover {
            background-color: @pink7 !important;
        }
    }
}

// Main Content
.about-content {
    margin:6rem 0;
}

// About section
.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .about {
        width: 40%;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .neighbours {
        width:50%;
        img {
            width: 100%;
        }
    }
}

// The team

.members {
    display: flex;
    justify-content: space-around;

    .member {
        text-align: center;

        img {
            width:20rem;
            border-radius: 90%;
        }
    }
}

// Contact

.contact {
    text-align: center;
}