// Variables
@container-width: 1120px;
// Mobile var
/* @phone: (max-width: 500px); */


// Color pointers
@main-font-color: @smooth-gray;
@header-font-color: @smooth-gray;

/* @nav-bg: @wild-sand;
@nav-font: @river-bend;
@nav-border: @sea-shell;

@main-border-color: @border-real;

@btn-font-color: @sea-shell;
@btn-bg-color: @some-black;

@footer-background: @wild-sand;
@footer-font-color: @waterloo; */

// Color Vars
@smooth-gray: rgb(74, 74, 74);

/* @wild-sand: #F6F6F6;
@river-bend: #454A59;
@sea-shell: #F1F1F1;
@ebony-clay: #23293B;
@porcelain: #F6F7F8;
@waterloo: #81848E;
@border-real: #dee2e6;
@some-black: #22283A; */