// Hero
.hero-nav {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/devices.jpg);
    background-size: cover;
    
    .container {
        height:70vh;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

}

// Navigation
.header-nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:2rem;
    color:@light-primary;
    
    div {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            font-family: @logo-font;
            font-size: 3rem;
            font-weight:600;
            color: @light-primary;
        }
    }
    
    img {
        width: 7rem;
    }
    
    ul {
        display: flex;
        
        a {
            color:@light-primary;
            
        }
        
        #registration-link {
            border: 0.2rem solid @light-secondary;
            border-radius: 0.2rem;
            padding:0.5rem 1rem;
            margin-left:1rem;

            &:hover {
                background-color: @light-secondary;
            }
        }
    }

}

// Search
.search-block {

    h1 {
        font-weight: 600;
        margin-bottom: 6rem;
        color: @light-primary;
    }

    .search-form {
        width: 80%;
        display: flex;
        margin:0 auto;

        input {
            padding:1.7rem;
            font-size: 1.7rem;
            color:@pink7;
            font-weight: 400;
            
            &::placeholder {
                font-style: italic;
            }
        }

        #sf-what, #sf-location {
            flex-grow: 2;
            border:none;
            border-right:0.1rem solid @light-secondary;
        }

        #sf-what {
            border-radius: 0.5rem 0 0 0.5rem;
        }

        #sf-distance {
            background-color:@light-primary;
            font-family: @text-font;
            color: @light-secondary;
            padding: 0 1rem;
            border:none;
        }

        #search-button {
            background-color:@light-secondary;
            color: @light-primary;
            border-radius: 0 0.5rem 0.5rem 0;
            border:none;
            padding:0 3rem;

            &:hover {
                background-color: @pink7;
                cursor: pointer;
            }
        }
    }

}

// CTA
.hero-nav .button{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5rem;

    p {
        font-family: @logo-font;
        font-size: 1.8rem;
        font-weight:700;
        color: @light-primary;
        margin-bottom: 1rem;
    }

    a {
        background-color: @blue7;
        padding: 1rem 2rem;
        color: @light-primary;
        border-radius: 0.3rem;
        
        &:hover {
            background-color: @light-primary;
            color: @light-secondary;
        }
    }
}

// all sections
section {
    margin-bottom: 3rem;
    
    & > p {
        margin: 5rem 0 2.5rem 0;
        text-align: center;
        
        font-family: @logo-font;
        font-size: 2rem;
        font-weight:600;
        text-transform: uppercase;
    }
}

// Galleries
.heading-title {
    font-family: @logo-font;
    font-size: 2rem;
    font-weight:500;

    text-align:center;
    margin: 5rem 0;
}

.product-gallery {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    width:25%;

    background-color: @white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.24);

    .product-wrap {
        position: relative;
        
        img {
            max-width:100%;
            max-height: 100%;
    
            border-radius: 0.5rem 0.5rem 0 0;
        }
        
        .seller-wrap {
            position: absolute;
            left:2rem;
            bottom:1rem;
    
            img {
                max-width:20%;
                max-height:20%;
                border-radius: 90%;
                border: 0.2rem solid @light-primary;
            }
        }
    }

    .product-description {
        padding:0.7rem;

        p:nth-of-type(2){
            margin-top:3rem;
            font-weight:600;
        }
    }
}

.tag {
    display:inline-flex;
    flex-flow: row wrap;

    border: 0.2rem solid @gray7;
    border-radius: 0.4rem;
    padding: 1rem 3rem;
    margin-right:1rem;
    margin-bottom:1.2rem;

    text-transform: capitalize;
    font-family: @heading-font;
    font-weight: 600;
    color: @gray7;
    
    &:hover  {
        color: @blue5;
        border: 0.2rem solid @blue5;
    }

}